@*
   
*@
@{
    ViewData["Title"] = "Quadrant";
}


<h2>Task Quadrants</h2>
<a asp-action="AddTask" class="btn btn-primary mb-3">Add New Task</a>

<div class="container">
    <div class="row">
        <div class="col-md-6">
            <div class="card border-danger mb-3">
                <div class="card-header bg-danger text-white">Quadrant I: Important / Urgent</div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-warning mb-3">
                <div class="card-header bg-warning text-dark">Quadrant II: Important / Not Urgent</div>
                <div class="card-body">
                   
                </div>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col-md-6">
            <div class="card border-info mb-3">
                <div class="card-header bg-info text-white">Quadrant III: Not Important / Urgent</div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
        <div class="col-md-6">
            <div class="card border-secondary mb-3">
                <div class="card-header bg-secondary text-white">Quadrant IV: Not Important / Not Urgent</div>
                <div class="card-body">
                    
                </div>
            </div>
        </div>
    </div>
</div>

