

@*
   
*@
@{
    ViewData["Title"] = "Quadrant";
}



<h2>Task Quadrants</h2>
<a asp-action="AddTask" class="btn btn-primary mb-3">Add New Task</a>
<div class="container">
    <div class="row">
        <div class="col-2 border border-dark p-3 bg-light text-center font-weight-bold"></div>
        <div class="col-5 border border-dark p-3 bg-light">
            <h4 class="text-center">Urgent</h4>

        </div>
        <div class="col-5 border border-dark p-3 bg-light">
            <h4 class="text-center">Not Urgent</h4>
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark h-4 bg-light text-center font-weight-bold">
            <h4 class="text-center">Important</h4>
        </div>
        <div class="col-5 border border-dark p-3 bg-light">
            <p class="text-center">Quadrant 1</p>
            
        </div>
        <div class="col-5 border border-dark p-3 bg-light">
            <p class="text-center">Quadrant 2</p>
            
        </div>
    </div>
    <div class="row">
        <div class="col-2 border border-dark h-4 bg-light text-center font-weight-bold">
            <h4 class="text-center">Not Important</h4>
        </div>
        <div class="col-5 border border-dark p-3 bg-light">
            <p class="text-center">Quadrant 3</p>
            
        </div>
        <div class="col-5 border border-dark p-3 bg-light">
            <p class="text-center">Quadrant 4</p>
            
        </div>
    </div>
</div>
